<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/public/fais.svg" type="image/x-icon" />

    <link rel="stylesheet" href="/public/style.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container">
      <div class="logo-div">
        <p class="logo">FaisJS<span class="version">v1</span></p>
      </div>
      <div class="code-block">
        <div>Edit <code>templates/index.html</code> to get started.</div>
      </div>
      <div class="grid-cols-2">
        <div class="card">
          <h1>Documentations</h1>
          <p class="mb-md">
            We have a great documentation for you to get started with our
            framework. It's easy to understand and you can get started in no
            time.
          </p>
          <button class="primary-button">Read Docs</button>
        </div>
        <div class="card">
          <h1>Github</h1>
          <p class="mb-md">
            Fais.js is open source and you can contribute to it on github. Help
            us make it better.
          </p>
          <button class="primary-button">Give us a star</button>
        </div>
      </div>
      <div>
        <p class="copy">Made with ❤️ by Fais Team.</p>
      </div>
    </div>
  </body>
</html>
